/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */


 #table {
    width: 20%;
}

#map {
    height: 80%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  table, th, td {
    border: 1px solid;
  }